<div class="p-6 md:p-10 w-full">
  <!--  user name from backend -->
  <div class="text-2xl font-semibold mb-2">Hi : {{userName}}</div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
    <!-- My visits list from backend) -->
     <a routerLink="/myvisits">
      <div class="bg-gray-100  rounded-xl shadow p-6 flex flex-col">
        <div class="text-xl font-semibold mb-2">My Visits</div>
        <div class="text-gray-500 text-md mb-4">Visits you've Done through the App</div>
        <div class="flex items-center">
          <!-- htt3'yr filter visits -->
          <input type="text" placeholder="Go" class="border border-gray-300 rounded-l px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 flex-1" />
          <button class=" px-4 py-2 flex items-center">
              <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
     </a>
    <!-- Search  clinic search from backend -->
    <div routerLink="/search" class="bg-gray-100  rounded-xl shadow p-6 flex flex-col">
      <div class="text-xl font-semibold mb-2">Search</div>
      <div class="text-gray-500 text-md mb-4">Find Clinic</div>
      <div class="flex items-center">
        <!-- search clinics -->
        <input type="text" placeholder="Go" class="border border-gray-300 rounded-l px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 flex-1" />
        <button class="px-4 py-2 rounded-r flex items-center">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

    <!-- src/app/pages/Patient/Dashboard/pdashboard.component.html -->
  <div *ngIf="ads.length > 0" class="ads-section">
    <div *ngFor="let ad of ads" class="ad-card">
      <img [src]="'data:image/png;base64,' + ad.image" alt="Ad Image" />
      <h3>{{ ad.title }}</h3>
      <p>{{ ad.description }}</p>
    </div>
  </div>

  <div class="bg-gray-100 rounded-xl shadow flex flex-col md:flex-row items-center p-6">
    <div class="flex-1 flex flex-col justify-center">
      <div class="text-xl font-semibold mb-2">Profile</div>
      <div class="text-gray-500 text-md mb-4">Access your Data</div>
      <!-- profile access button -->
       <a routerLink="/patientprofile">
        <button class="bg-slate-600 text-white px-6 py-2 rounded shadow hover:bg-gray-700 w-auto">Go To Profile</button>
       </a>

    </div>
    <div class="flex-1 flex justify-end">
      <!-- user image from backend -->
      <img src="" alt="user image" />
    </div>
  </div>

</div>
