<div class="flex items-center gap-4 mb-4 justify-between">
  <select class="border rounded px-2 py-1" [(ngModel)]="selectedDepartment">
    <option value="">Department type</option>
    @for (dept of departments; track dept) {
      <option [value]="dept">{{ dept }}</option>
    }
  </select>

  <div class="flex items-center gap-2 mt-3 bg-gray-50 p-2 rounded-lg border border-gray-200">
    <input type="checkbox" id="insurance" [(ngModel)]="hasInsurance" class="accent-slate-600 w-4 h-4">
    <label for="insurance" class="text-sm font-semibold text-gray-700">Health Insurance</label>
  </div>

  <div class="flex flex-col items-center bg-white p-6 rounded-2xl shadow-md w-full max-w-md mx-auto mt-7 border-t-2">
    <h2 class="text-xl font-bold mb-2">Price Range</h2>
    <p class="text-gray-500 mb-4">Enter or Select min and max price</p>

    <div class="flex items-center justify-between gap-4 mb-2 w-full">
      <div class="flex flex-col items-start">
        <label class="text-sm mb-0.5">Min</label>
        <input type="number" [(ngModel)]="minPrice" [min]="0" [max]="maxLimit"
              class="border px-2 py-1 rounded w-20 text-center" readonly />
      </div>

      <span class="text-lg">-</span>

      <div class="flex flex-col items-start">
        <label class="text-sm mb-0.5">Max</label>
        <input type="number" [(ngModel)]="maxPrice" [min]="0" [max]="maxLimit"
              class="border px-2 py-1 rounded w-20 text-center" />
      </div>
    </div>

    <div class="relative w-full mt-2">
      <input
        type="range"
        [min]="0"
        [max]="maxLimit"
        step="100"
        [(ngModel)]="maxPrice"
        (input)="validateRange('max')"
        class="w-full accent-slate-600"
      />
    </div>
  </div>

  <div class="flex flex-col justify-end">
    <div class="relative">
      <input placeholder="Search" [(ngModel)]="searchText" class="bg-gray-600 text-white px-4 py-2 rounded pl-10 w-full"/>
      <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-white"></i>
    </div>
  </div>
</div>

<div class="w-full h-full bg-gray-200 rounded-3xl p-4">
  <div class="w-full h-full flex flex-col">
    <div class="bg-white rounded-2xl shadow-xl border border-gray-300 p-0 w-full">
      <h2 class="text-xl font-semibold px-6 pt-6 pb-4">Results</h2>

      <div class="bg-gray-100 rounded-xl mx-4 mb-4 p-4 transition-all duration-300 flex flex-col gap-4 overflow-y-auto"
           [style.maxHeight]="expanded ? '1000px' : '300px'">
           @for (hospital of filteredHospitals; track hospital) {
              <div class="bg-slate-500 bg-opacity-90 text-white rounded-xl p-6 flex flex-col gap-3 shadow-md">
                <div class="text-lg font-semibold">{{ hospital.hospital }}</div>
                <div class="flex flex-wrap gap-4">
                  <div class="bg-gray-300 text-black px-4 py-2 rounded min-w-[120px] text-center">
                    Distance: {{ hospital.distance }} km
                  </div>
                  <div class="bg-gray-300 text-black px-4 py-2 rounded min-w-[120px] text-center">
                    Budget: {{ hospital.budget | currency:'EGP'}}
                  </div>
                  <div class="bg-gray-300 text-black px-4 py-2 rounded min-w-[120px] text-center">
                    Health Insurance: {{ hospital.healthInsurance }}
                  </div>
                  <div class="bg-gray-300 text-black px-4 py-2 rounded min-w-[120px] text-center">
                      Health Insurance: {{ hospital.department}}
                    </div>
                </div>
              </div>
            }
            
            
      </div>

      <div class="flex justify-center pb-4">
        <button (click)="toggleExpand()" class="focus:outline-none">
          @if (!expanded) {
            <i class="fa-solid fa-chevron-down text-2xl text-gray-600"></i>
          } @else {
            <i class="fa-solid fa-chevron-up text-2xl text-gray-600"></i>
          }
        </button>
      </div>
    </div>
  </div>
</div>
  
