<section class="rounded-t-2xl bg-gray-200 flex items-center px-8 py-4 w-full shadow-sm">
    <div class="flex-1 text-left font-semibold text-black">ECKO MED</div>
    <div class="flex-1 text-center text-gray-600 font-medium">We Always care</div>
    <div class="flex-1 text-right">
        @if (getUserType() === 'dataEntry') {
            <a routerLink="/dentryprofile" routerLinkActive="active-link">  
                <i class="fa-solid fa-user p-3"></i>
            </a>
        } @else if (getUserType() === 'patient') {
            <a routerLink="/patientprofile" routerLinkActive="active-link">  
                <i class="fa-solid fa-user p-3"></i>
            </a>
        }
       <a>
        <i class="fa-solid fa-bell p-3"></i>
       </a> 
       <a>
        <i class="fa-solid fa-pen p-3"></i>
       </a> 
    </div>
  </section>
