<div class="flex flex-col items-center justify-center h-screen bg-gray-400 font-sans">
  <div class="flex flex-col items-center bg-gray-400 w-full">
    <h2 class="text-3xl text-white font-semibold mb-2 mt-4">Oooops!</h2>
    <div class="flex items-center mb-2">
      <span class="text-white text-[7rem] font-bold leading-none">4</span>
      <span class="mx-2 flex flex-col items-center justify-center">
        <span class="block w-[90px] h-[90px] rounded-full bg-white flex items-center justify-center">
          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="28" stroke="#319795" stroke-width="4" fill="white"/>
            <circle cx="22" cy="26" r="3" fill="#319795"/>
            <circle cx="38" cy="26" r="3" fill="#319795"/>
            <path d="M22 40c2-2 8-2 12 0" stroke="#319795" stroke-width="3" stroke-linecap="round"/>
          </svg>
        </span>
      </span>
      <span class="text-white text-[7rem] font-bold leading-none">4</span>
    </div>
    <p class="text-2xl text-white font-semibold mb-2">Page Not Found!</p>
    <p class="text-white mb-6">Please back to Homepage</p>
    <a href="/" class="px-6 py-2  bg-slate-600 text-white py-2 rounded shadow hover:bg-slate-700 transition mb-8">Homepage</a>

  </div>
</div>